<a href="https://colab.research.google.com/github/haishah/aishatjimohstageone/blob/master/stagetwo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(url)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [13]:
df = df.drop(['date','lights'], axis=1)
df

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [18]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
normalised_df = pd.DataFrame(scalar.fit_transform(df), columns = df.columns)
df_normalised = normalised_df.drop(columns = ['Appliances'])
df_tv = normalised_df['Appliances']

In [20]:
#spliting the datasets
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(df_normalised, df_tv, test_size = 0.3, random_state = 42)
#Define model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
from sklearn.metrics import mean_absolute_error
predicted_values = linear_model.predict(X_val)
mse = mean_absolute_error(y_val,predicted_values)
print(mse.round(2))

0.05

In [23]:
rss = np.sum(np.square(y_val - predicted_values))
round(rss,2)

45.35

In [24]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_val, predicted_values))
print(rmse.round(3))

0.088

In [25]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_val, predicted_values)
round(r2_score, 2)

0.15

question 17

In [45]:
from sklearn.linear_model import Lasso 
lasso_reg = Lasso(alpha =0.001, random_state=2)
lasso_reg.fit(X_train,y_train)
def get_weight_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.colums).sort_values()
  weights_df = pd.DataFrames(weights).reset_index()
  weights_df.columns = ['Featurs', col_name]
  weights_df[col_name].round(3)
  return weights_df

  linear_model_wights = get_weights_df(linear_model, X_train, 'Linear_Model_Weight')
  ridge_weight_df = det_weight_df(ridge_reg, X_train, 'Ridge_Weight')
  lasso_weights_df= get_weights_df(lasso_reg, X_train, 'Lasso_Weight')

  Final_weights =pd.merge(linear_model_weights, ridge_weight_df, on = 'Features')
  final_weights = pd.merge(final_weights, lasso_weights_df, on = 'Features')
  final_weights

question 20

In [34]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha =0.001, random_state = 2)
lasso_reg.fit(X_train, y_train)
y_pred_lasso = lasso_reg.predict(X_val)
rmse=np.sqrt(mean_squared_error(y_val,y_pred_lasso))
print('rmse = ',rmse.round(3))

rmse =  0.094